<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">

        <title>AriadNEXT Betting app</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">AriadNEXT Betting app</a>

                <div id="navbarColor02">
                    <a class="btn btn-dark" th:href="@{/logout}" role="button">Logout</a>
                </div>
            </div>
        </nav>

        <br/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome, <span sec:authentication="name">username</span></h1>
                </div>
            </div>

            <br/>

            <div class="row" th:if="${success}">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" th:text="${success}" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form method="post" th:action="@{/validateId}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Send your ID for validation" />
                    </form>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <p>Available fake IDs :</p>
                </div>
                <div class="col-md-3" th:each="image : ${imageList}">
                    <img width="100%" th:src="@{'data:image/jpeg;base64,'+${image.base64Image}}" />
                </div>
            </div>
        </div>

        <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
        <script src="webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    </body>
</html>